 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Intermediate</h4>
    <h5 class="meta">Chaitanya college</h5>
    <div class="time">2013 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BTech in Information Technology</h4>
    <h5 class="meta">Keshav Memorial Institute of Technology</h5>
    <div class="time">2015 - 2019</div>
</div><!--//item-->
</div><!--//education-container-->
