<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Engineering</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Keshav Memorial Institute of Technology,Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Took my first step towards the IT industry by pursuing Btech in Information Technology.</p> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intermediate</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Sri Chaitanya Kalashala,Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Completed my undergratuate course in MPC by overall percentage of 97%.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Primary and Secondary Education</h3>
                            <div class="time">2002 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">St.Joseph's Public School, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>MY first step towards education,completed it with no regrets and memories with a final percentage of 89% in my 10th grade .</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
