<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some of the projects that i have done during the course of my Btech .</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">ChatOn</a></span> - <span class="project-tagline">A android application to communicate with friends via chatting, by sending friend requests.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Easy Parking</a></span> - 
                    <span class="project-tagline">A responsive website build on the concept of ethereum blochchain. </span>
                </div><!--//item-->
            </section><!--//section-->
